<div id="{{mojit_view_id}}" class="comment">
    <h2>Comments</h2>
    <form action="javascript:void(0);">
        <textarea placeholder="leave your thoughts"></textarea>
        <input type="submit"/>
        <input type="hidden" data-photo_id="{{#if photo_id}}{{photo_id}}{{/if}}"/>
    </form>
    <ul>
    {{#if comments}}
        {{#each comments}}
        <li>
            <div class="date">{{date}}</div>
            <div class="comment">{{comment}}</div>
        </li>
        {{/each}}
    {{else}}
        <li>No comments</li>    
    {{/if}}
    </ul>
</div>
